language: perl

matrix:
  include:
      - perl: "5.20"
      - env: COVERAGE=1 COVERAGE_OPTS='-ignore_re /CORE/\w+\.h$'
      - perl: "5.20"

before_install:
   - git clone git://github.com/haarg/perl-travis-helper
   - source perl-travis-helper/init
   - build-perl
   - perl -V
   - sudo apt-get update -qq
   - sudo apt-get install -y libfuzzy-dev

install:
   - export RELEASE_TESTING=1 AUTOMATED_TESTING=1 AUTHOR_TESTING=1 HARNESS_OPTIONS=j10:c HARNESS_TIMER=1
   - cpanm --quiet --notest Devel::Cover::Report::Coveralls 
   - cpanm --quiet --notest Test::Perl::Critic Test::Fatal Test::Pod::Coverage
   - cpanm --quiet --notest --installdeps .


after_success:
  - cover -report coveralls
